$primary-color: #0075f2;
$primary-text: #373737;

.me {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  color: $primary-text;
  padding-left: 10%;

  .heading {
    font-size: calc(1vw + 2em);
    width: calc(100vw - 40%);
    align-self: end;
  }
  .label {
    letter-spacing: 0.15rem;
    display: block;
    grid-column: 2;
    font-size: 1rem;
    font-weight: 700;
    color: #6d6d6d;
    text-transform: uppercase;
  }

  .link {
    font-style: italic !important;
    color: $primary-text;
    text-decoration: none;
    background: linear-gradient(
      to bottom,
      $primary-text 0%,
      $primary-text 100%
    );
    background-position: 0 90%;
    background-repeat: repeat-x;
    background-size: 1px 2px;
    cursor: pointer;
  }
  .importantStuff {
    span,
    a {
      cursor: pointer;
      display: block;
      color: $primary-text;
      text-decoration: none;
      margin-top: 20px;
      width: max-content;
      font-weight: 700;
      background: linear-gradient(
        to bottom,
        rgba(0, 116, 240, 0.6) 0%,
        rgba(0, 116, 240, 0.6) 100%
      );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 4px;
      transition: background-size 0.2s ease-in-out;
    }
  }
}

@media (hover: hover) {
  .importantStuff {
    span,
    a {
      &:hover {
        background-size: 4px 12px;
      }
    }
  }
}
