@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto Mono Medium"), local("RobotoMono-Medium"),
    url("../fonts/RobotoMono-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto Mono Bold Italic"), local("RobotoMono-BoldItalic"),
    url("../fonts/RobotoMono-bolditalics.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto Mono Bold"), local("RobotoMono-Bold"),
    url("../fonts/RobotoMono-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto Mono"), local("RobotoMono-Regular"),
    url("../fonts/RobotoMono.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
