$primary-color: #0075f2;
$primary-text: #373737;

.aboutMe {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  min-height: 100vh;
  padding: 0 10%;
  color: $primary-text;

  .header {
    align-self: center;
    h1 {
      margin: 0;
    }
    span {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-weight: 500;
    }
  }

  .content {
    align-self: center;
    width: 95%;
    .buttonCV {
      background: $primary-color;
      border: none;
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      padding: 1em;
      font-size: 0.8em;
      outline: none;
      cursor: pointer;
      letter-spacing: 0.1em;

      &:active {
        outline: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .aboutMe {
    grid-template-columns: 1fr;

    .header {
      align-self: flex-end;
    }
    .content {
      align-self: start;
      width: 75vw;
    }
  }
}
