$primary-color: #0075f2;
$primary-text: #373737;

.sidebar {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  position: fixed;
  width: 100vh;
  bottom: -3em;
  right: 3em;
  line-height: 2em;
  transform: rotate(90deg);
  transform-origin: 100% 100%;

  a {
    font-weight: 500;
    display: inline-block;
    margin: 0 1em;
    color: $primary-text;
    font-size: calc(0.25vh + 0.9em);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.5em;
    background: linear-gradient(
      to bottom,
      rgba(0, 116, 240, 0.6) 0%,
      rgba(0, 116, 240, 0.6) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    transition: background-size 0.2s ease-in-out;
  }
  a:hover {
    background-size: 4px 18px;
  }
}
